@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$red-base: #ed4956;
$red-shadow: #d83d50;

$grey: #dbdbdb;

$background: #b8e3ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: $background;
}

main {
  position: relative;
}

.Button {
  width: 540px;

  .st0 {
    fill: $red-base;
  }

  .st1 {
    fill: $red-shadow;
  }

  #button {
    cursor: pointer;
    pointer-events: all;
  }
}

.Count {
  position: absolute;
  right: 160px;
  top: 94px;
  font-family: "Pacifico";
  font-size: 72px;
  color: white;
  filter: drop-shadow(-3px 3px 0 $red-shadow);
  pointer-events: none;
}

.Heart {
  position: absolute;
  width: 80px;
  left: 174px;
  top: 130px;
  filter: drop-shadow(-3px 3px 0 $red-shadow);
  pointer-events: none;

  .st0 {
    fill: white;
  }

  .st1 {
    fill: $grey;
  }
}
