/*

Deisgn based on Helvetiphant's Golden Ratio Parrot

https://www.behance.net/gallery/24206783/Parrot-Golden-Ratio/modules/207684815

*/
$blue: #25569d;
$red: #dc4961;
$yellow: #c7c45b;
$black: #171717;
$black-alpha: rgba(23, 23, 23, 0.3);
$beige: #dcd7d1;
$phi: 1.618;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inner-border {
  box-shadow: inset 0px 0px 0px 10px $beige;
}

@mixin inner-shadow {
  box-shadow: inset 0px 8px 20px 10px $black-alpha;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  @include flex-center;
  background: radial-gradient(#b3aea9, $beige);
}

.container {
  width: 900px / $phi;
  height: 864px;
  background-color: $beige;
  @include flex-center;
  box-shadow: 0 2px 25px #b4aea8;
}

.parrot {
  @include flex-center;
  flex-flow: column nowrap;
  height: 800px;
  width: 800px / $phi;
  border: 10px solid $black;
  > * {
    position: relative;
  }
}

body,
.a,
.b,
.b-2,
.b-4,
.wrapper,
.wrapper-2,
.wrapper-3,
.wrapper-4 {
  width: 100%;
  @include flex-center;
}

.a,
.b-1,
.b-3,
.wrapper,
.wrapper-2,
.wrapper-3,
.wrapper-4 {
  height: 100%;
}

.b,
.b-2,
.b-4 {
  height: 100% / $phi;
}

.b-1,
.b-3 {
  width: 100% / $phi;
  @include flex-center;
}

.wrapper {
  flex-direction: row-reverse;
}

.wrapper-2 {
  flex-direction: column-reverse;
}

.wrapper-4 {
  flex-direction: column;
}

.one,
.two,
.three,
.four,
.five {
  position: relative;
  @include inner-border;
  overflow: hidden;
}

.one,
.two {
  background-color: $blue;
}

.three,
.four {
  background-color: $red;
}

.one {
  border-bottom-left-radius: 100%;
}

.one-inner {
  width: 490px;
  height: 490px;
  border-top-right-radius: 100%;
  background-color: $yellow;
  @include inner-border;
}

.one-inner:after {
  content: "";
  position: absolute;
  width: 494px;
  height: 494px;
  border-top-left-radius: 100%;
  background-color: $blue;
  box-shadow: inset 0px 0px 0px 20px $beige;
  z-index: 1000;
}

.two {
  border-top-left-radius: 100%;
  box-shadow: inset 10px 10px 0 #dcd7d1, inset -10px -10px 0 $blue; // remove doubled up border
}

.two-inner {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: $red;
  @include inner-border;
  transform: translateX(155px);
}

.three {
  border-top-right-radius: 100%;
}

.three-inner {
  width: 45%;
  height: 45%;
  border-radius: 100%;
  background-color: $beige;
  @include inner-border;
  transform: translateY(25px);
}

.three-inner:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: $blue;
  box-shadow: inset 0px 0px 0px 8px $beige;
  border: 8px solid $black;
}

.pupil {
  content: "";
  position: absolute;
  top: 56%;
  left: 43%;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  background-color: $black;
}

.four {
  border-bottom-right-radius: 100%;
  box-shadow: inset -12px 0px 0px 0px $beige; //box-shadow to line up the shape of the profile
}

.four-inner {
  position: absolute;
  width: 125%;
  height: 125%;
  border-radius: 100%;
  background-color: $black;
  @include inner-border;
  transform: translate(-50px, 0px);
}

.five {
  background-color: $black;
  border-bottom-left-radius: 100%;
}

@media (max-height: 900px) {
  body {
    transform: scale(0.8, 0.8);
  }
}

@media (max-height: 720px) {
  body {
    transform: scale(0.75, 0.75);
  }
}